body {
    background-color: white;
}

#player {
    width: 100%;
    height: 3em;

    object-fit: contain;
}

.ui {
    margin: 0.8em 0.5em;
}

#seekUi {
    padding-bottom: 1em;
}

.device-card {
    padding: 0.6em;
    margin: 0.3em;
    border: 1px solid #000;
    width: fit-content;
}

.device-name {
    font-weight: bold;
}

.capability-badges {
    padding-left: 0.5em;
}